Repository exercism/cpp, pull requests merged in 2023-08, with the labels that each got.

#698 Fix typo in introduction.md in freelance-rates exercise.
  concepts/numbers/about.md
  exercises/concept/freelancer-rates/.docs/introduction.md
Labels: x:rep/tiny

#699 [Concept] Docs - Functions
  concepts/functions/.meta/config.json
  concepts/functions/about.md
  concepts/functions/introduction.md
  concepts/functions/links.json
  config.json
Labels: x:action/create, x:module/concept, x:type/content, x:rep/large

#703 fix: change test to work with Catch2 v2 and v3
  exercises/practice/complex-numbers/complex_numbers_test.cpp
  exercises/practice/space-age/space_age_test.cpp
Labels: x:action/fix, x:module/test-runner, x:rep/medium

#702 feature(test-runner): add task_id for all concept ex
  exercises/concept/ellens-alien-game/ellens_alien_game_test.cpp
  exercises/concept/freelancer-rates/freelancer_rates_test.cpp
  exercises/concept/interest-is-interesting/interest_is_interesting_test.cpp
  exercises/concept/lasagna/lasagna_test.cpp
  exercises/concept/last-will/last_will_test.cpp
  exercises/concept/log-levels/log_levels_test.cpp
  exercises/concept/pacman-rules/pacman_rules_test.cpp
  exercises/concept/vehicle-purchase/vehicle_purchase_test.cpp
  exercises/practice/complex-numbers/complex_numbers_test.cpp
  exercises/practice/high-scores/high_scores_test.cpp
Labels: x:action/improve, x:module/test-runner, x:size/medium

#705 fix(test): correct includes to work with v3 runner
  exercises/practice/circular-buffer/circular_buffer_test.cpp
Labels: x:module/practice-exercise, x:module/test-runner, x:type/coding, x:rep/large
