Repository exercism/cpp, pull requests merged in 2024-10, with the labels that each got.

#823 feat: add pointers concept
  concepts/pointers/.meta/config.json
  concepts/pointers/about.md
  concepts/pointers/introduction.md
  concepts/pointers/links.json
  config.json
Labels: x:action/proofread, x:module/concept, x:type/docs, x:rep/large

#906 Fix typo: lenghth --> length.
  concepts/functions/introduction.md
  exercises/concept/lasagna-master/.docs/introduction.md
Labels: x:type/docs, x:rep/tiny, hacktoberfest-accepted

#903 tests: update say exercise
  exercises/practice/say/.meta/tests.toml
  exercises/practice/say/say_test.cpp
Labels: hacktoberfest-accepted

#787 update triangle tests
  exercises/practice/triangle/.meta/tests.toml
  exercises/practice/triangle/triangle_test.cpp
Labels: x:action/sync, hacktoberfest-accepted

#914 Sync and sort roman-numeral tests
  exercises/practice/roman-numerals/.meta/example.cpp
  exercises/practice/roman-numerals/.meta/example.h
  exercises/practice/roman-numerals/.meta/tests.toml
  exercises/practice/roman-numerals/roman_numerals.cpp
  exercises/practice/roman-numerals/roman_numerals.h
  exercises/practice/roman-numerals/roman_numerals_test.cpp
Labels: x:module/practice-exercise, hacktoberfest-accepted

#918 Fix typo: 'These operators modifies' -> 'These operators modify'.
  concepts/numbers/about.md
  concepts/numbers/introduction.md
  exercises/concept/freelancer-rates/.docs/introduction.md
Labels: x:type/docs, x:rep/tiny, hacktoberfest-accepted

#916 Fix(freelancer-rates): avoid conversion warning in exemplar
  exercises/concept/freelancer-rates/.meta/exemplar.cpp
Labels: x:action/fix, x:module/concept-exercise, hacktoberfest-accepted

#907 docs: update literals introduction with C++23 standard information
  concepts/literals/introduction.md
Labels: x:type/docs, hacktoberfest-accepted

#908 docs: add instructions for calculating grade intervals
  exercises/concept/making-the-grade/.docs/instructions.md
Labels: x:module/concept-exercise, x:type/docs, hacktoberfest-accepted

#911 tests: update uuids and toml file for high-scores
  exercises/practice/high-scores/.meta/tests.toml
  exercises/practice/high-scores/high_scores_test.cpp
Labels: x:module/practice-exercise, hacktoberfest-accepted

#919 Install boost on windows
  docs/INSTALLATION.md
Labels: x:type/docs, hacktoberfest-accepted

#915 Build concept exercises + fix concept exercise that does not build.
  CMakeLists.txt
  exercises/concept/freelancer-rates/.meta/exemplar.cpp
  exercises/concept/last-will/last_will_test.cpp
Labels: x:type/ci, hacktoberfest-accepted
