Repository exercism/cpp, pull requests merged in 2024-07, with the labels that each got.

#890 chore: update docs for July 2024
  exercises/practice/bank-account/.docs/instructions.md
  exercises/practice/darts/.docs/instructions.md
  exercises/practice/darts/.meta/config.json
  exercises/practice/matching-brackets/.docs/instructions.md
  exercises/practice/matching-brackets/.docs/introduction.md
  exercises/practice/parallel-letter-frequency/.docs/instructions.md
  exercises/practice/pascals-triangle/.docs/instructions.md
  exercises/practice/pascals-triangle/.docs/introduction.md
  exercises/practice/pig-latin/.docs/instructions.md
  exercises/practice/resistor-color-duo/.docs/instructions.md
  exercises/practice/space-age/.docs/instructions.md
  exercises/practice/space-age/.docs/introduction.md
  exercises/practice/two-bucket/.docs/instructions.md
  exercises/practice/yacht/.meta/config.json
  exercises/practice/zebra-puzzle/.docs/instructions.md
  exercises/practice/zebra-puzzle/.docs/introduction.md
Labels: x:type/docs

#881 Add practice exercise Rail Fence Cipher
  config.json
  exercises/practice/rail-fence-cipher/.docs/instructions.md
  exercises/practice/rail-fence-cipher/.meta/config.json
  exercises/practice/rail-fence-cipher/.meta/example.cpp
  exercises/practice/rail-fence-cipher/.meta/example.h
  exercises/practice/rail-fence-cipher/.meta/tests.toml
  exercises/practice/rail-fence-cipher/CMakeLists.txt
  exercises/practice/rail-fence-cipher/rail_fence_cipher.cpp
  exercises/practice/rail-fence-cipher/rail_fence_cipher.h
  exercises/practice/rail-fence-cipher/rail_fence_cipher_test.cpp
  exercises/practice/rail-fence-cipher/test/catch.hpp
  exercises/practice/rail-fence-cipher/test/tests-main.cpp
Labels: x:module/practice-exercise, x:type/content, x:rep/large

#892 resistor-color: sync
  exercises/practice/resistor-color/.docs/instructions.md
Labels: x:size/tiny

#893 resistor-color-duo: sync
  exercises/practice/resistor-color-duo/.docs/instructions.md
Labels: x:size/tiny
