Repository exercism/cpp, pull requests merged in 2024-03, with the labels that each got.

#800 Add parallel-letter-frequency
  config.json
  exercises/practice/parallel-letter-frequency/.docs/instructions.append.md
  exercises/practice/parallel-letter-frequency/.docs/instructions.md
  exercises/practice/parallel-letter-frequency/.meta/config.json
  exercises/practice/parallel-letter-frequency/.meta/example.cpp
  exercises/practice/parallel-letter-frequency/.meta/example.h
  exercises/practice/parallel-letter-frequency/.meta/tests.toml
  exercises/practice/parallel-letter-frequency/CMakeLists.txt
  exercises/practice/parallel-letter-frequency/parallel_letter_frequency.cpp
  exercises/practice/parallel-letter-frequency/parallel_letter_frequency.h
  exercises/practice/parallel-letter-frequency/parallel_letter_frequency_test.cpp
  exercises/practice/parallel-letter-frequency/test/catch.hpp
  exercises/practice/parallel-letter-frequency/test/tests-main.cpp
Labels: x:module/practice-exercise, x:rep/large

#837 docs: fix headline in allyourbase approach
  exercises/practice/all-your-base/.approaches/introduction.md
Labels: x:type/docs, x:rep/tiny

#833 feat: add functions exercise
  config.json
  exercises/concept/lasagna-master/.docs/hints.md
  exercises/concept/lasagna-master/.docs/instructions.md
  exercises/concept/lasagna-master/.docs/introduction.md
  exercises/concept/lasagna-master/.docs/introduction.md.tpl
  exercises/concept/lasagna-master/.meta/config.json
  exercises/concept/lasagna-master/.meta/design.md
  exercises/concept/lasagna-master/.meta/exemplar.cpp
  exercises/concept/lasagna-master/.meta/exemplar.h
  exercises/concept/lasagna-master/lasagna_master.cpp
  exercises/concept/lasagna-master/lasagna_master.h
  exercises/concept/lasagna-master/lasagna_master_test.cpp
Labels: x:action/proofread, x:module/concept-exercise, x:rep/large

#839 docs: fix bad code in lasagna-master instructions
  exercises/concept/lasagna-master/.docs/instructions.md
  exercises/concept/lasagna-master/.meta/exemplar.cpp
  exercises/concept/lasagna-master/.meta/exemplar.h
  exercises/concept/lasagna-master/lasagna_master_test.cpp
Labels: x:type/docs, x:rep/tiny

#841 fix: lasagna-master task 5 description
  exercises/concept/lasagna-master/.docs/instructions.md
Labels: x:module/concept-exercise, x:type/docs, x:rep/tiny

#836 feat: add auto concept
  concepts/auto/.meta/config.json
  concepts/auto/about.md
  concepts/auto/introduction.md
  concepts/auto/links.json
  config.json
Labels: x:module/concept, x:size/large

#843 fix(parallel-letter-frequency): add another missing assertion
  exercises/practice/parallel-letter-frequency/parallel_letter_frequency_test.cpp
Labels: bug, x:module/practice-exercise, x:rep/tiny

#824 feat: add smart pointer concept
  concepts/smart-pointers/.meta/config.json
  concepts/smart-pointers/about.md
  concepts/smart-pointers/introduction.md
  concepts/smart-pointers/links.json
  config.json
Labels: x:action/proofread, x:module/concept, x:type/docs, x:rep/large

#848 Sync pangram tests
  exercises/practice/pangram/.meta/tests.toml
  exercises/practice/pangram/pangram_test.cpp
Labels: x:rep/tiny

#849 Sync isogram tests
  exercises/practice/isogram/.meta/tests.toml
  exercises/practice/isogram/isogram_test.cpp
Labels: x:rep/tiny

#840 fix: vector-approx macro
  exercises/concept/lasagna-master/lasagna_master_test.cpp
Labels: x:module/practice-exercise, x:rep/tiny
