Repository exercism/cpp, pull requests merged in 2024-02, with the labels that each got.

#797 `pop-count`: rename to `eliuds-eggs`
  config.json
  exercises/practice/eliuds-eggs/.docs/instructions.md
  exercises/practice/eliuds-eggs/.docs/introduction.md
  exercises/practice/eliuds-eggs/.meta/config.json
  exercises/practice/eliuds-eggs/.meta/example.cpp
  exercises/practice/eliuds-eggs/.meta/example.h
  exercises/practice/eliuds-eggs/.meta/tests.toml
  exercises/practice/eliuds-eggs/CMakeLists.txt
  exercises/practice/eliuds-eggs/eliuds_eggs.cpp
  exercises/practice/eliuds-eggs/eliuds_eggs.h
  exercises/practice/eliuds-eggs/eliuds_eggs_test.cpp
  exercises/practice/eliuds-eggs/test/catch.hpp
  exercises/practice/eliuds-eggs/test/tests-main.cpp
Labels: x:size/tiny

#798 roman-numerals: sync
  exercises/practice/roman-numerals/.docs/instructions.md
  exercises/practice/roman-numerals/.docs/introduction.md
  exercises/practice/roman-numerals/.meta/config.json
Labels: x:size/tiny

#567 Add linked list practice exercise
  config.json
  exercises/practice/linked-list/.docs/instructions.append.md
  exercises/practice/linked-list/.docs/instructions.md
  exercises/practice/linked-list/.docs/introduction.md
  exercises/practice/linked-list/.meta/config.json
  exercises/practice/linked-list/.meta/example.cpp
  exercises/practice/linked-list/.meta/example.h
  exercises/practice/linked-list/.meta/tests.toml
  exercises/practice/linked-list/CMakeLists.txt
  exercises/practice/linked-list/linked_list.cpp
  exercises/practice/linked-list/linked_list.h
  exercises/practice/linked-list/linked_list_test.cpp
  exercises/practice/linked-list/test/catch.hpp
  exercises/practice/linked-list/test/tests-main.cpp
Labels: x:module/practice-exercise, x:rep/large

#801 feat: add list-ops exercise
  config.json
  exercises/practice/list-ops/.docs/instructions.md
  exercises/practice/list-ops/.meta/config.json
  exercises/practice/list-ops/.meta/example.cpp
  exercises/practice/list-ops/.meta/example.h
  exercises/practice/list-ops/.meta/tests.toml
  exercises/practice/list-ops/CMakeLists.txt
  exercises/practice/list-ops/list_ops.cpp
  exercises/practice/list-ops/list_ops.h
  exercises/practice/list-ops/list_ops_test.cpp
  exercises/practice/list-ops/test/catch.hpp
  exercises/practice/list-ops/test/tests-main.cpp
Labels: x:module/practice-exercise, x:rep/large

#804 Feat--add-kindergarten-garden-exercise
  config.json
  exercises/practice/kindergarten-garden/.docs/instructions.md
  exercises/practice/kindergarten-garden/.meta/config.json
  exercises/practice/kindergarten-garden/.meta/example.cpp
  exercises/practice/kindergarten-garden/.meta/example.h
  exercises/practice/kindergarten-garden/.meta/tests.toml
  exercises/practice/kindergarten-garden/CMakeLists.txt
  exercises/practice/kindergarten-garden/kindergarten_garden.cpp
  exercises/practice/kindergarten-garden/kindergarten_garden.h
  exercises/practice/kindergarten-garden/kindergarten_garden_test.cpp
  exercises/practice/kindergarten-garden/test/catch.hpp
  exercises/practice/kindergarten-garden/test/tests-main.cpp
Labels: x:module/practice-exercise, x:rep/large

#803 Feat--add-yacht-exercise
  config.json
  exercises/practice/yacht/.docs/instructions.md
  exercises/practice/yacht/.meta/config.json
  exercises/practice/yacht/.meta/example.cpp
  exercises/practice/yacht/.meta/example.h
  exercises/practice/yacht/.meta/tests.toml
  exercises/practice/yacht/CMakeLists.txt
  exercises/practice/yacht/test/catch.hpp
  exercises/practice/yacht/test/tests-main.cpp
  exercises/practice/yacht/yacht.cpp
  exercises/practice/yacht/yacht.h
  exercises/practice/yacht/yacht_test.cpp
Labels: x:module/practice-exercise, x:rep/large

#807 Add practice exercise spiral-matrix
  config.json
  exercises/practice/spiral-matrix/.docs/instructions.md
  exercises/practice/spiral-matrix/.meta/config.json
  exercises/practice/spiral-matrix/.meta/example.cpp
  exercises/practice/spiral-matrix/.meta/example.h
  exercises/practice/spiral-matrix/.meta/tests.toml
  exercises/practice/spiral-matrix/CMakeLists.txt
  exercises/practice/spiral-matrix/spiral_matrix.cpp
  exercises/practice/spiral-matrix/spiral_matrix.h
  exercises/practice/spiral-matrix/spiral_matrix_test.cpp
  exercises/practice/spiral-matrix/test/catch.hpp
  exercises/practice/spiral-matrix/test/tests-main.cpp
Labels: x:module/practice-exercise, x:rep/large

#815 fix: make matcher for catch2 v2 and v3 compatible
  exercises/practice/dnd-character/dnd_character_test.cpp
Labels: x:rep/tiny
